# Ignore build folders
build/
*/build/

# Ignore ESP-IDF temp folders
sdkconfig.old
*.bin
*.elf
*.map

# VSCode settings
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt

# Python cache
__pycache__/
*.pyc

# Logs
*.log
